[report]
omit =  
    *__init__*
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    except IOError
    if 0:
    if __name__ == .__main__.:
